files:
    "/sbin/appstart":
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/curent/application.jar

            # run app
            pkill -f java
            java -Dfile.encoding=UTF-8 -Dspring.profile.active=develop -jar $JAR_PATH